.React-Recipe-App {
  background: url('https://i.ibb.co/6WKnx0V/Untitled-design-2.png');
  background-repeat: no-repeat;
  background-size: 170%;
  padding: 10px 5px 10px 5px;
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
}

.input-container,
.output-container {
  background-color: rgb(207, 183, 137);
  border-radius: 16px;
  margin-left: 130px;
  margin-top: 25px;
  width: 350px;
  height: auto;
}

h1.text {
  text-align: center;
  margin-top: 5px;
}

p.text-p {
  text-align: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-ingredient,
.input-quantity,
.input-button {
  display: flex;
  flex-direction: column;
  margin: 10px 0; 
}

.input-quantity {
  margin-left: 8px;
}

.input-quantity-ingredient {
  margin-left: 9px;
}

.input-1 {
  margin-left: 40px;
}

.input-2 {
  margin-left: 49.8px;
}

.input-3 {
  margin-left: 18.9px;
}


.input {
  margin-left: 10px;
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  border-radius: 16px;
  height: 25px;
}

.output-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.output-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}

.generate-ingredient-cost {
  background-color: rgb(226, 217, 219);
  border-radius: 16px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.calculate-total {
  background-color: rgb(226, 217, 219);
  border-radius: 16px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.clear-page {
  background-color: rgb(226, 217, 219);
  border-radius: 16px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 15px;
} 


/* @media screen and (max-width: 1200px) {
  .input-container,
  .output-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}

@media screen and (max-width: 360px) {
  .input-container,
  .output-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
} */